.wrapper{
	width:80%;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	background-color:antiquewhite;
}

ul#horizontal-list {
	margin:0;
	padding:0;
	}
	ul#horizontal-list li {
		display: inline;
	}

#footer {
	width:80%;
	margin-left: auto;
	margin-right:auto;;
}	

	#footer img{
		opacity: 0.5;
	}	