
#body {width:100%}

.wrapper{
	width:80%;
	margin-left: auto !important;
	margin-right: auto !important;
	font-family:Verdana;
	background-color:antiquewhite;
	
}

.wrapper_1{
	width:80%;
	margin-left: auto !important;
	margin-right: auto !important;
	font-family:Verdana;
	background-color:darkkhaki;
}

.linkList{
	list-style-type: none;
}

.signup-form{
	margin-left:20%;
}

#tblPrograms tr td{
	width:50%; border: 1px solid black;
}

#tblHeader{
	width:100%;
}
#tblHeader tr td ul li{
	margin-right:30px;
}


ul#horizontal-list {
	margin:0;
	padding:0;
	}
	ul#horizontal-list li {
		display: inline;
	}

h1 {font-family:Verdana};

#footer {
	width:80%;
	margin-left: auto;
	margin-right:auto;
}	